.modal-container {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(100, 100, 100, .6);
}

.modal-content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 60%;
    width: 50%;
    padding: 1rem;
    
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

    z-index: 2;
    
    overflow-y: scroll;
}